.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .card:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .title-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
  }
  .title {
    color: grey;
    padding: 10px;
  }
    