.banner {
    margin-top: 130px;
    padding-top: 170px;
    background-position: bottom;
    background-repeat: no-repeat;    
}
.mar-bot130{
    margin-bottom: 130px;
}
.purpose-text {
    background: #146894;
    padding: 20px;
    font-size: 20px;
    line-break: 1.5;
}
.quote-section {
    display: flex;
    flex-wrap: wrap;
}
.flex-basis {
    width: 50%;
}
.testimonial span.author {
    float: right;
    font-weight: 700;
}
.mar-left16 {
    margin-left: 16px;
}
.width85 {
    width: 85%;
}
.pad-testm {
    padding-left: 10%;
    padding-top: 4%;
}
.article-ul {
    list-style: none;
}
#contactus {
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 767px) {
    .banner {
        margin-top: 150px;
    }
    .pad-cust-top40 {
        padding-top: 40px;
    }
    .pad-top0 {
        padding-top: 0 !important;
    }
    .pad-testm {
        padding-left: 0;
    }
    .quote-section {
        flex-direction: column;
    }
    .width85 {
        width: auto;
    }
    .flex-basis {
        width: auto;
    }
}