.text-indent {
    text-indent: 40px
}
.mar-lft15 {
    margin-left: 15%;
}
.grad-img{
    width: 60%;
    margin: 20px auto;
}
.mar-btm0{
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .grad-img{
        width: 100%;
    }
    .mar-lft15 {
        margin-left: auto;
    }
    .pad20 {
        padding: 0 20px;
    } 
}