body {
    color: black;
    background-color: white;
}
.pad {
    padding: 0 20px;
}
.mar-top130 {
    margin-top: 130px;
}
section.news-room {
    padding: 200px 0 60px 0;
}

section.news-room div.align-center img {
    width: 100%;
}

.section-firstjob .job__heading {
    background-color: rgba(249, 249, 246, 0.5);
    position: absolute;
    text-align: center;
    width: 98%;
}

.heading-text {
    line-height: 1;
    padding: 10px 40px;
}

.grad-banner {
    width: 100%;
}

.section-firstjob .job__footer {
    background-color: #146894;
    width: 85%;
    margin: -50px auto 0 auto;
    position: sticky;
    right: 8%;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.section-firstjob .job__footer>h4 {
    line-height: 1.5;
    margin: 0;
    color: #fff;
}

/* Content Section */
.content-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.font-weight5 {
    font-weight: 500;
}
.content1 {
    /* text-align: right; */
    padding-right: 16px;
}
.content2 {
    padding-left: 16px;
}
.content-section .text {
    flex-basis: 50%;

}
.section-firstjob h2 {
    text-align: center;
    text-decoration: underline;
}
hr {
    color: blue !important;
    height: 2px;
}
.sub-heading {
    width: 100%;
    text-decoration: underline;
}
.align-text-pad {
    padding: 20px 60px;
}
.img-par {
    text-align: center;
}
.user-img {
    width: 25%;
}
.overlay-text {
    background-color: #146894;;
    color: white;
    padding: 20px;
    margin-top: -20px;
    margin-left: 50%;
}
.overlay-text-span {
    text-align: right;
}
.testmonial-footer {
    color: white;
}
section.credit-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
}
.icon-linkedin {
    color: #0077b5;
}
@media (max-width: 767px) { 
    .content-section .text {
        flex-basis: 100%;
    }
    .content1, .content2 {
        padding: 0;
    }
    .user-img {
        width: 100%;
    }
}
@media (max-width: 480px) { 
    .img-mobile {
        height: 312px;
    }
    .pad {
        padding: 0;
    }
    .mar-top130 {
        margin-top: 105px;
    }
    .align-text-pad {
        padding: 20px;
    }
    .overlay-text {
        margin-left: 0;
    }
}